node_modules/
.nuxt
.output
.nitro
dist
.playwright-mcp
.DS_Store
app/.DS_Store

# 环境变量
.env
.env.*
!.env.example

# 数据库
data/
*.db
*.db-journal
*.db-shm
*.db-wal

# IDE
.idea
.vscode
*.swp
*.swo

# 日志
*.log

# 临时文件
tmp/
temp/

# 生成的视频文件
public/videos/
public/generated-images/


ecosystem.config.cjs